<div class="header__wrapper">
  <div class="header">
    <nav>
      <a routerLink="/" class="link">
        <img src="/assets/collection.svg" alt="">
        Коллекция
      </a>

      <a routerLink="/" class="link">
        <img src="/assets/plus.svg" alt="">
        Добавить
      </a>
    </nav>

    <a routerLink="/" class="logo">
      <img src="/assets/short_logo.svg" alt="">
    </a>


    <div class="search-and-profile">
      <img src="/assets/search.svg" class="search-img" alt="search-img">
      <input class="search-input" placeholder='Поиск' type='text'>
      <img src="/assets/profile.svg" class="image-profile" alt="image-profile">
    </div>
  </div>
</div>


